NODE_ENV=development
APP_NAME=my_eta_planning_backend
APP_PORT=3000
API_PREFIX=api

DATABASE_HOST=localhost
DATABASE_PORT=5433
DATABASE_USER=eta
DATABASE_PASSWORD=eta
DATABASE_NAME=eta_planning
DATABASE_SSL=false
TYPEORM_LOGGING=false

JWT_ACCESS_SECRET=dev-access-secret-change-me
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_SECRET=dev-refresh-secret-change-me
JWT_REFRESH_EXPIRES_IN=30d
BCRYPT_SALT_ROUNDS=10
